body {
    /*width: 100%;
    margin: 0%;*/
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*max-width: 100%;*/
    /*margin: 0%;*/
    padding-left: 1px;
    padding-right: 1px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*create new col system to add images before texboxes without width distance*/
.col-sm-0half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-0half {
        float: left;
    }
    .col-sm-0half {
        width: 0%;
    }
    
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.estado {
    border: 0 none;
}
