
@{
    ViewBag.Title = "GestaoBrainstorm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GestaoBrainstorm</h2>

<table class="table table-bordered table-hover">
    <thead style="color: white; background: #6699FF;">
    <tr>
        <td>Titulo</td>
        <td>Data</td>
        <td>Estado</td>
        <td>Descrição</td>
        <td>Observacoes</td>
        <td>Duração</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>           